{# templates/admin/suspend_user.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}Suspendre un utilisateur{% endblock %}

{% block body %}
<div class="container mt-5">
    <h2 class="mb-4">Suspendre {{ user.firstname }} {{ user.lastname }}</h2>

    {{ form_start(form) }}
        <div class="mb-3">
            {{ form_label(form.start_date) }}
            {{ form_widget(form.start_date, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="mb-3">
            {{ form_label(form.end_date) }}
            {{ form_widget(form.end_date, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="mb-3">
            {{ form_label(form.reason) }}
            {{ form_widget(form.reason, {'attr': {'class': 'form-control'}}) }}
        </div>
        <button type="submit" class="btn btn-danger">Suspendre</button>
        <a href="{{ path('admin_users') }}" class="btn btn-secondary">Annuler</a>
    {{ form_end(form) }}
</div>
{% endblock %}
