{% extends 'base.html.twig' %}

{% block title %}Ajouter une préférence{% endblock %}

{% block body %}
{% include 'components/menu.html.twig' %}
<div class="container py-5">
    <h2>➕ Ajouter une préférence</h2>

    {{ form_start(form) }}
        {{ form_row(form.preference) }}
        {{ form_row(form.value) }}

        <button class="btn btn-success mt-3">Ajouter</button>
    {{ form_end(form) }}

    <a href="{{ path('app_user_dashboard') }}" class="btn btn-outline-secondary mt-4">← Retour</a>
</div>
{% endblock %}
